{
    "root":true,
      "parser": "@typescript-eslint/parser",
      "extends": [
        "eslint-config-airbnb-typescript",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"],
      "parserOptions": { 
        "ecmaVersion": 2018, 
        "sourceType": "module",
        "project":  ["**/tsconfig.json"], 
        "tsconfigRootDir": "__dirname" 
      },    
      "rules": {
         "react/jsx-filename-extension": [2, { "extensions": [".js",".jsx", ".ts",".tsx",".test.js"] }],
         "@typescript-eslint/dot-notation": "off",
         "@typescript-eslint/no-implied-eval":"off",
         "@typescript-eslint/no-throw-literal":"off",
         "@typescript-eslint/return-await":"off"
         
              },
      "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx",".d.ts"],
            "moduleDirectory": ["node_modules", "src/"]
          }
        }
      }
    }
  